@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #13131A;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}
@layer components {
  /* This won't be included in your compiled CSS unless you actually use it */
 
}